streamlit
python-dotenv
PyPDF2
langchain>=1.0.0
langchain-core>=1.2.0
langchain-community>=0.4.0
langchain-text-splitters>=1.1.0
langchain-huggingface
langchain-google-vertexai>=3.2.0
oracledb
tqdm
google-cloud-aiplatform
vertexai
sentence-transformers
fastapi
uvicorn
